In [1]:
# data manipulation
import pandas as pd
import numpy as np

# make the charts
import matplotlib.pyplot as plt

# annotations
import textwrap
import math
import re
from matplotlib.ticker import FormatStrFormatter
from highlight_text import fig_text, ax_text
from matplotlib import font_manager
from matplotlib.font_manager import FontProperties

# animation
from PIL import Image, ImageSequence
from matplotlib.animation import FuncAnimation

In [5]:
df = pd.read_csv("/home/nicolas/Github/Programacion/Python/pandas_plot/global-plastics-production.csv")

#df.reset_index(inplace=True)
# df['year'] = np.linspace(1950, 2050, 1001)
# df.index = df['year']
# df.drop(columns=['year'], inplace=True)

df.dtypes

Entity                                         object
Code                                           object
Year                                            int64
Global plastics production (million tonnes)     int64
dtype: object

In [6]:
df.head()

  Entity      Code  Year  Global plastics production (million tonnes)
0  World  OWID_WRL  1950                                      2000000
1  World  OWID_WRL  1951                                      2000000
2  World  OWID_WRL  1952                                      2000000
3  World  OWID_WRL  1953                                      3000000
4  World  OWID_WRL  1954                                      3000000